<a href="https://colab.research.google.com/github/Vinaydp19/Codes/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



> **Support Vector Machine**

In [1]:
import numpy as np
import pandas as pd

In [12]:
df=pd.read_csv("/content/data4.csv")

In [13]:
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [14]:
df.isna().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

In [16]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1:].values

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.2, random_state=0)

**Future Scaling**

In [19]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train= sc.fit_transform(x_train)
x_test= sc.transform(x_test)
y_train= sc.fit_transform(y_train)

In [20]:
x_train

array([[-1.13572795, -0.88685592,  0.67357894,  0.52070558],
       [-0.80630243, -0.00971567,  0.45145467,  0.14531044],
       [ 1.77128416,  1.84743445,  0.24279248, -1.88374143],
       ...,
       [-0.38409993, -1.24886277,  0.84522042,  0.13092486],
       [-0.9232821 , -1.04155299,  1.54693117,  0.8830852 ],
       [ 1.70136528,  1.05824381, -1.20438076, -2.42285818]])

**Assigning Support vector regression(SVR)**

In [22]:
from sklearn.svm import SVR
regressor= SVR(kernel= 'rbf')     #if data is linear then kernel=linear or data is not linear then rbf
regressor.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [23]:
y_pred=regressor.predict(x_test)

In [25]:
y_pred

array([-1.18727339,  0.21311322,  0.39445405, ...,  0.9556216 ,
       -0.87278266,  0.38779571])

**we have take Y_pred in original data form like it doesnt conatins 0 and 1**

**Here there is an small error but the code is right**

In [34]:
y_pred= sc.inverse_transform(y_pred)

ValueError: ignored

In [30]:
from sklearn.metrics import r2_score
print(r2_score(y_test,y_pred))

-706.3971490359935